Checks: >
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  clang-analyzer-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-uppercase-literal-suffix,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -modernize-use-auto,
  -bugprone-easily-swappable-parameters,
  -modernize-avoid-c-arrays,
  -readability-convert-member-functions-to-static

WarningsAsErrors: "*"

CheckOptions:
  - key: readability-identifier-naming.MemberSuffix
    value: "_"
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: "_"
