{
  "Language": "Cpp",
  "BasedOnStyle": "Google",
  "AccessModifierOffset": -2,
  "AlignAfterOpenBracket": "AlwaysBreak",
  "AlignConsecutiveAssignments": false,
  "AlignConsecutiveDeclarations": false,
  "AlignEscapedNewlines": "Left",
  "AlignOperands": true,
  "AlignTrailingComments": true,
  "AllowAllParametersOfDeclarationOnNextLine": false,
  "AllowShortBlocksOnASingleLine": false,
  "AllowShortCaseLabelsOnASingleLine": false,
  "AllowShortFunctionsOnASingleLine": "None",
  "AllowShortIfStatementsOnASingleLine": false,
  "AllowShortLoopsOnASingleLine": false,
  "AlwaysBreakAfterDefinitionReturnType": "None",
  "AlwaysBreakAfterReturnType": "None",
  "AlwaysBreakBeforeMultilineStrings": false,
  "AlwaysBreakTemplateDeclarations": false,
  "CommentPragmas": ["^ NOLINT", "^ NOLINTNEXTLINE", "^ NOLINT(runtime/references)", "^ NOLINT(build/include_order)"]
}
