build/
*.exe
*.vs
x64/
vcpkg_installed/
secrets.cfg
.vscode/
*.deb
*.zip
*.tar
packages
rotating_textured_cube.js
rotating_textured_cube.wasm
rotating_textured_cube.data
opengl_viewer.js
opengl_viewer.wasm
opengl_viewer.data