[submodule "assets/scenes/glTF-Sample-Models"]
	path = assets/scenes/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
[submodule "assets/web/third-party/glm"]
	path = assets/web/third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "assets/web/third-party/tinygltf"]
	path = assets/web/third-party/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "assets/web/third-party/stb"]
	path = assets/web/third-party/stb
	url = https://github.com/nothings/stb.git
