[submodule "assets/scenes/glTF-Sample-Models"]
	path = assets/scenes/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
[submodule "assets/web/third-party/glm"]
	path = assets/web/third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "assets/web/third-party/tinygltf"]
	path = assets/web/third-party/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "assets/web/third-party/imgui"]
	path = assets/web/third-party/imgui
	url = git@github.com:ocornut/imgui.git
